/* Reset default margin and padding */
body, h1, h2, p, img {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #333; /* Dark grey background color */
    color: #fff; /* White text color */
}

header {
    background-color: #222; /* Darker grey header background color */
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}

#about-me {
    text-align: center;
    margin: 20px 0;
}

.full-screen-background {
    position: relative;
    height: 100vh; /* Set the height of the background to full viewport height */
    background-image: url('background-image.jpg'); /* Replace with your background image URL */
    background-size: cover;
    background-position: center;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    flex-wrap: wrap;
}

.column-left {
    flex: 1;
    max-width: 300px;
    margin-right: 20px;
}

.column-right {
    flex: 2;
}

.centered-content h2 {
    color: #fff; /* White heading color */
    font-size: 36px; /* Increase the font size to your desired value */
}

.centered-content p {
    margin-top: 20px; /* Increase the margin to separate the paragraphs */
    font-size: 24px; /* Increase the font size to your desired value */
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
}

/* Style social media icons (you can use actual image icons or font icons) */
.social-links img {
    width: 30px;
    height: 30px;
}

/* Style the profile picture */
.column-left img {
    display: block;
    width: 100%; /* Set the width to 100% to fit the container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%;
}


.font {
    font-size: 44px; /* Change to your desired font size */
}

.h2-font {
    font-size: 64px; /* Change to your desired font size */
}